<div class="d-flex row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mb-5">
        <h1>¿Olvidaste tu contraseña?</h1>
        <%= form_with url: password_reset_path do |form| %>
            <div class="py-3 mt-3">
                <%= form.label :email, class:"form-label" %>
                <%= form.text_field :email, class:"form-control" %>
            </div>

            <%= form.submit 'Reiniciar contraseña', class:"btn btn-primary mt-5 btn-login" %>
        <%end%>
    </div>
    <div class="col-md-2"></div>
</div>